<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h1>Sus cuentas</h1>

      <template is="dom-repeat" items="{{accounts}}">
        <h3>Mi IBAN: [[item.iban]]</h3>
        <!--<h3>UserID: [[item.userID]]</h3>-->
        <h3>Saldo: [[item.balance]]</h3>
        </br>
      </template>

    <iron-ajax auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; } //Con esto customizamos la etiqueta que despues se accede desde index.html
      static get properties() {
        return {
          iban: {
            type: String
          },
          userid: {
            type: Number
          },
          balance: {
            type: Number
          },
          accounts: {
            type: Array
          }
        };
      }

      showData(data){
        console.log("showData");
        console.log(data.detail.response[0]);

        this.accounts = data.detail.response;

        //izquierda es el nombre de la propiedad y lo de la derecha el response es lo que nos viene de la API
        //this.iban = data.detail.response[0].iban;
        //this.userid = data.detail.response[0].userID;
        //this.balance = data.detail.response[0].balance;
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta); //Aqui se vincula
  </script>
</dom-module>
